.card-container {
    display: flex;
    justify-content: space-start;
    flex-direction: row;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #3c9dca;
    border-radius: 10px;
    border: 2px solid rgb(238, 241, 244); 
    margin: 20px;
    color: rgb(227, 232, 235);
    height: 200px;
    width: 300px;
  }
  
  .card h2 {
    margin-top: 10px;
  }
  
  .card-contents .svg-inline--fa {
    font-size: 50px;
   
  }
  
  .card-components .svg-inline--fa {
    font-size: 50px; 
   
  }
  
  @media screen and (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
   
  }

  