.card-container {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: row;
  align-items: center;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform 0.8s;
  color: #e3e8eb;
}

.card__side--front {
  background-image: linear-gradient(to top right, #16547a, #12a4d9);
  color: #e3e8eb;
}

.card__side--back {
  background-image: linear-gradient(to top right, #16547a, #12a4d9);
  transform: rotateY(180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card__count {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.card__icon {
  font-size: 4rem;
  margin-bottom: 10px;
}

.card__details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #e3e8eb;
}