
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:white;
}
.login-image {
  width: 350px;
  height: 350px; 
  padding-right: 50px;
  
}

.form-inner {
  width: 300px;
  height:310px ;
  padding: 20px;
  background-color: white;
  border: 2px solid #4caaaf;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.error {
  color: red;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}


input[type='email'],
input[type='password'] {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #4caaaf
}

input[type='submit'] {
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
  padding: 8px;
  background-color: #4caaaf;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #4caaaf;
  border-radius: 5px;

}

.quote-container {
position: relative;
margin-top: 20px;
}

.quote {
  white-space: nowrap;
  text-align: center;
  color: bl;
  position: absolute;
  bottom: -300px;
  left: -350px;
  transform: translateX(-50%);
  font-size: 35px;
  font-weight: bold;
  color: #0f7378;
}

.success {
  position: relative;
  z-index: 2;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: green;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 760px) {
  .login-image {
    width: 200px;
    height: 250px;
    padding-bottom: 20px;
    padding-right: 0px;
  }
  .quote-container {
    visibility: hidden;
  }
  .login-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 0px;
    padding: 0;
  }
}
