
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:white;
  }
  .login-image {
    width: 350px;
    height: 350px; 
  
    
  }
  
  .form-inner {
    width: 300px;
    height:310px ;
    padding: 20px;
    background-color: white;
    border: 2px solid #4caaaf
  }
  
  h2 {
    text-align: center;
  }
  
  .error {
    color: red;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #4caaaf
  }
  
  input[type='submit'] {
    width: 100%;
    padding: 8px;
    background-color: #4caaaf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #4caaaf
  }
 
.quote-container {
  position: relative;
  margin-top: 20px;
}

.quote {
  white-space: nowrap;
  text-align: center;
  color: bl;
  position: absolute;
  bottom: -300px;
  left: -350px;  
  transform: translateX(-50%); 
  font-size: 35px;
  font-weight: bold;
}

  