.navbar {
  background-image: linear-gradient(to right, #060b26 , #1a2980 );
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.5rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 1;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: margin-left 350ms;
}

span {
  margin-left: 16px;
}
.content button {
  border: none;
  box-shadow: 1px 2px #98a9c2;
  background-color: #6d84c4;
  box-shadow: inset;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.nav-menu.active ~ .home {
  margin-left: 250px;
  transition: margin-left 350ms;
}

.home {
  transition: margin-left 350ms;
}
.heading{
  color: #747070;
  margin-left: 60px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  
}