
  .table thead {
    background-color: #ccc;
    color: #222;
  }
  
  .table th,
  .table td {
    padding: 0.8rem;
  }
  
  .table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .expand {
    width: 100%;
  }
  